<div>
<div style="width: 25%; float:left">
    <tabs>
      <tab [tabTitle]="'Add'">
        <app-newprimitive></app-newprimitive>
      </tab>
      <tab tabTitle="Mod">
        <modify-mesh></modify-mesh>
      </tab>
      <tab tabTitle="Scene">
        <app-scene-editor></app-scene-editor>
      </tab>
      <tab tabTitle="Camera">
        <edit-camera></edit-camera>
      </tab>
      <tab tabTitle="Light">
        
      </tab>
      <tab tabTitle="Material">
        <edit-material></edit-material>
      </tab>
    </tabs>
</div>
<div style="width: 75%; float:right">
  <canvas id="renderCanvas"></canvas>

</div>
</div>
