<div>
  <div>
    Meshes
    <select [(ngModel)]="selectedMesh" (change)="onChange($event.target.value)">
      <option *ngFor="let mesh of meshes" [ngSwitch]="mesh">{{mesh.id}}</option>
    </select> 
  </div>
  <div>
    Materials
    <select [(ngModel)]="selectedMaterial" (change)="onChange($event.target.value)">
      <option *ngFor="let material of materials" [ngSwitch]="material">{{material.id}}</option>
    </select> 
  </div>
  <div>
    Show Ground <input type="checkbox"[checked]="showGround" (change)="showGroundChange($event.target.checked)">
  </div>
  <div>
    Color: <input  #jscolor class="jscolor" (change)="update(this)" value="AB2567">
  </div>
<button (click)="clear()">Clear</button>
<input type="file" name="file" id="file" class="inputfile" (change)="fileChanged($event.target)" multiple/>
<ul class="list-group">
      <li *ngFor="let file of fileSystem.files" class="list-group-item">
        {{ file.name }}
      </li>
    </ul>
</div>