<div>Icon of Failure</div>
<iframe width="100%" height="140" scrolling="no" frameborder="no" src="http://www.kompoz.com/music/player/76538/260203/1"></iframe>
<div>Sludge</div>
<iframe width="100%" height="140" scrolling="no" frameborder="no" src="http://www.kompoz.com/music/player/69960/208481/1"></iframe>
<div>In the Name of Disaster</div>
<iframe width="100%" height="140" scrolling="no" frameborder="no" src="http://www.kompoz.com/music/player/66221/182340/1"></iframe>
<div>Insecure Persecution</div>
<iframe width="100%" height="140" scrolling="no" frameborder="no" src="http://www.kompoz.com/music/player/68566/196757/1"></iframe>
<div>30 ot 6</div>
<iframe width="100%" height="140" scrolling="no" frameborder="no" src="http://www.kompoz.com/music/player/72932/229463/1"></iframe>
<div>Solid</div>
<iframe width="100%" height="140" scrolling="no" frameborder="no" src="http://www.kompoz.com/music/player/65127/174216/1"></iframe>