
<div>
    <canvas id="materialrenderCanvas"></canvas>
</div>

<div>
   <input type="range" max="1000" (change)="changeAlpha($event.target.value)" [value]="material.alpha*1000"/>
  <div>
    diffuse: <input #diffusecolor class="jscolor" (change)="diffuseChange()" value="AB2567">
    <input type="file" name="file" id="file" class="inputfile" (change)="diffuseFileChange($event)"/>
    <label for="file"><img [src]="diffuseTexture"><span><img [src]="diffuseTexture" ></span></label>
  </div>
  <div>
    emissive: <input #emissivecolor class="jscolor" (change)="emissiveChange()" value="AB2567">
  </div>
  <div>
    ambient: <input #ambientcolor class="jscolor" (change)="ambientChange()" value="AB2567">
  </div>
  <div>
    specular: <input #specularcolor class="jscolor" (change)="specularChange()" value="AB2567">
  </div>
</div>
<button (click)="apply()">Apply</button>
<ace-editor></ace-editor>