<div>
  <label>position </label>
  <div>
      x <input [(ngModel)]="position.x">
  </div>
  <div>
      y <input [(ngModel)]="position.y">
  </div> 
  <div>
      z <input [(ngModel)]="position.z">
  </div>
  <label>rotation </label>
  <div>
      x <input [(ngModel)]="rotation.x">
  </div>
  <div>
      y <input [(ngModel)]="rotation.y">
  </div> 
  <div>
      z <input [(ngModel)]="rotation.z">
  </div>
  <label>scale </label>
  <div>
      x <input [(ngModel)]="scale.x">
  </div>
  <div>
      y <input [(ngModel)]="scale.y">
  </div> 
  <div>
      z <input [(ngModel)]="scale.z">
  </div>
</div>
