<div>
  <select [(ngModel)]="selectedPrimitive">
    <option *ngFor="let primitive of primitives" [ngSwitch]="primitive">{{primitive}}</option>
  </select>
</div>
<div>
  <label>name</label>
  <div>
    <input [(ngModel)]="name" >
  </div>
</div>
<div>
  <label>position </label>
  <div>
      x <input [(ngModel)]="position.x">
  </div>
  <div>
      y <input [(ngModel)]="position.y">
  </div> 
  <div>
      z <input [(ngModel)]="position.z">
  </div>
</div>
<span [ngSwitch]="selectedPrimitive">
  <app-new-sphere *ngSwitchCase="'sphere'" [position]="position" [name]="name"></app-new-sphere>
  <app-new-box *ngSwitchCase="'box'" [position]="position" [name]="name"></app-new-box>
  <load-mesh *ngSwitchCase="'mesh'" [position]="position" [name]="name"></load-mesh>
</span>

