<canvas id="renderCanvas" style="position: fixed;top: 0;left: 0; width: 100%; height: 100%; z-index: -1;"></canvas>
<div style="position:absolute; width: 100%; height: 80%;" > 
 
<table id="outerDiv" cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
    <tr>
        <td valign="middle" id="innerDiv">
         
            <h1>Jon Martin</h1>
            <h2>Desktop | Mobile</h2>
            <h2>Windows | Android | Web</h2>
            <h2>C# | Typescript | C++ | Java</h2>
            <div class="links">
              <a href="https://github.com/jchristof" >{{'{code}'}}</a> 
              <a href="https://www.linkedin.com/in/jchristofmartin" >{{'{linkedin}'}}</a> 
            </div>​

        </td>
    </tr>
</table>
 </div>​
